body {
	height: 100vh;
	background-image: url('images/background.jpeg'); 
	background-color: #ff9c00;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container {
	padding: 50px 0; 
}

.container .pokemons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	max-width: 700px; 
	padding: 40px 20px; 
	margin: 0 auto; 
	justify-content: center;
	gap: 15px
}

.container .pokemons .pokemon {
	box-sizing: border-box;
	width: 80px;
	height: 84px;
	border: 3px solid white; 
	transition: all 0.5s ease;
	transform: scale(1) skewX(-15deg);
	background-color: #002b5b;
	border-radius: 15px;
	overflow: hidden;
}

.container .pokemons .pokemon:hover {
	background-color: #ff9c00;
	transform: scale(1.3) skewX(-15deg);
	z-index: 10;
}

.container .pokemons .pokemon .image {
	width: 140%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90px;
	transform: skewX(15deg) translateX(-15%)
	}

.pokemon:nth-child(1) .image { background-image: url('images/pokemon1.png'); }
.pokemon:nth-child(2) .image { background-image: url('images/pokemon2.png'); }
.pokemon:nth-child(3) .image { background-image: url('images/pokemon3.png'); }
.pokemon:nth-child(4) .image { background-image: url('images/pokemon4.png'); }
.pokemon:nth-child(5) .image { background-image: url('images/pokemon5.png'); }
.pokemon:nth-child(6) .image { background-image: url('images/pokemon6.png'); }
.pokemon:nth-child(7) .image { background-image: url('images/pokemon7.png'); }
.pokemon:nth-child(8) .image { background-image: url('images/pokemon8.png'); }
.pokemon:nth-child(9) .image { background-image: url('images/pokemon9.png'); }
.pokemon:nth-child(10) .image { background-image: url('images/pokemon10.png'); }
.pokemon:nth-child(11) .image { background-image: url('images/pokemon11.png'); }
.pokemon:nth-child(12) .image { background-image: url('images/pokemon12.png'); }
.pokemon:nth-child(13) .image { background-image: url('images/pokemon13.png'); }
.pokemon:nth-child(14) .image { background-image: url('images/pokemon14.png'); }
.pokemon:nth-child(15) .image { background-image: url('images/pokemon15.png'); }
.pokemon:nth-child(16) .image { background-image: url('images/pokemon16.png'); }
.pokemon:nth-child(17) .image { background-image: url('images/pokemon17.png'); }
.pokemon:nth-child(18) .image { background-image: url('images/pokemon18.png'); }
.pokemon:nth-child(19) .image { background-image: url('images/pokemon19.png'); }
.pokemon:nth-child(20) .image { background-image: url('images/pokemon20.png'); }
.pokemon:nth-child(21) .image { background-image: url('images/pokemon21.png'); }
.pokemon:nth-child(22) .image { background-image: url('images/pokemon22.png'); }
.pokemon:nth-child(23) .image { background-image: url('images/pokemon23.png'); }
.pokemon:nth-child(24) .image { background-image: url('images/pokemon24.png'); }
.pokemon:nth-child(25) .image { background-image: url('images/pokemon25.png'); }
.pokemon:nth-child(26) .image { background-image: url('images/pokemon26.png'); }
.pokemon:nth-child(27) .image { background-image: url('images/pokemon27.png'); }
.pokemon:nth-child(28) .image { background-image: url('images/pokemon28.png'); }
.pokemon:nth-child(29) .image { background-image: url('images/pokemon29.png'); }
.pokemon:nth-child(30) .image { background-image: url('images/pokemon30.png'); }
.pokemon:nth-child(31) .image { background-image: url('images/pokemon31.png'); }
.pokemon:nth-child(32) .image { background-image: url('images/pokemon32.png'); }

.container .logo {
	max-width: 300px; 
	margin: 0 auto; 
}

.container .logo img {
	width: 100%; 
}